@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

/* I N D E X y S E A R C H  R E S U L T S */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,main,header ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main article{
    width: 30vw;    
}

main article img {
    max-width: 100%;

}
header article{
    width: 25vw;
}
header ul{
    width: 70vw;
}
header article img{
    width: 60px;
    border-radius: 25%;
}
main section article img{
    border-radius: 35%;
    width:15vw;
}
main section{
    align-items: center;
    flex-wrap: wrap;
}
main section ul{
    list-style: none;
}
main section ul li{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 10px 0;  
}
main section ul li img{
    width: 40px;
}
main section section{
    flex-direction: row;
    flex-wrap: wrap;
}

/* P L A Y L I S T*/

.tituloprincipal{
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-size: 50px;
}
.favoritas ul{
    display: flex;
    flex-direction: row;
}
.favoritas ul li{
    list-style: none;
    font-family: 'Barlow', sans-serif;
}
.favoritas ul li img{
    height: 75%;
    margin: 10px;
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 2%;
}
.favoritas ul li p{
    background-color: rgb(47, 47, 47);
    color: white;
    text-align: center;
    width: 480px;
    font-size: 20px;
    margin-left: 20px;
}

/*G E N R E S*/

.contenidogenres ul li img{
    width: 350px;
    height: 350px;
    border-radius: 4%;
}
.contenidogenres ul{
    display: flex;
    flex-flow: row wrap;
}
.contenidogenres ul li{
    font-family: 'Barlow', sans-serif;
    list-style: none;
    margin: 30px;
    padding: 40px;
}

.txtgenres{
    background-color: rgb(47, 47, 47);
    color: white;
    text-align: center;
    width: 350px;
    font-size: 20px;
}
.contenidogenres{
    align-items: center;
}
.contenidogenres ul li p{
    font-size: 15px;
    font-family: 'Barlow', sans-serif ;
    background-color: rgb(70, 70, 70);
    color: white;
    text-align: center;
    width:100%;
    
}
/* D E T A I L   G E N R E S*/
main article {
    width: 300px;
    height: 300px;
    margin-top: 150px;
}
main article img {
    height: 300px;
}
main article h1{
    background-color: grey;
    font-size: 25px;
    font-family:  'Barlow', sans-serif ;
    text-align: center;
    color: white;
}
main article p{
    font-size: 20px;
    text-align: center;
}
/* D E T A I L  A L B U M*/

.infoalbum h1 
{
    text-align: center;
}
.infoalbum h2
{
    text-align: center;
}
.infoalbum h3 {
    text-align: center;
}
.infoalbum h4
{
    text-align: justify;
}
/* D E T A I L  A R T I S T*/
.infoartista h1
{
    text-align: center;
}
/* D E T A I L  T R A C K*/