
/* I N D E X */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,main,header ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main article{
    width: 30vw;    
}

main article img {
    max-width: 100%;

}
header article{
    width: 25vw;
}
header ul{
    width: 70vw;
}
header article img{
    width: 60px;
    border-radius: 25%;
}
main section article img{
    border-radius: 35%;
}
main section{
    align-items: center;
}
main section ul{
    list-style: none;
}
main section ul li{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 10px 0;  
}
main section ul li img{
    width: 40px;
}

/* P L A Y L I S T*/

